
/* general styles */
body {
  display: flex;
  justify-content: center;
  margin: 0;

  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.5em;
}


/* helper classes */
div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

*[disabled] {
  opacity: 0.7;
}

.btn {
  cursor: pointer;
}
.btn[disabled] {
  cursor: default;
}

.collapse {
  display: none;
}

/* start-page styles */
.start-page {
  align-items: center;
  font-family: monospace;
  max-width: 30em;
}

.subtitle {
  margin-top: -1em;
}

.start-game {
  padding: 16px;
  margin: 16px;
  font-weight: bold;
  font-size: 1.2em;
  border: medium solid black;
  border-radius: 6px;
}
.start-game.p1-color {
  color: black;
}
.start-game.p2-color {
  color: white;
}

.disclaimer {
  margin-top: 3em;
  text-align: center;
  line-height: 1em;
  font-size: .8em;
}

/* game styles */
.p1-color  { background-color: #f7a509; }
.p1-color.selected { border: thick solid #a77a1a; }
.p2-color  { background-color: #1646a5; }
.p2-color.selected { border: thick solid #769cff; }
.on-color { background-color: #FFDDBB; }
.targetable { background-color: #FFD2CC }

.edge {
  width: 0.5em;
  height: 3em;
}
.block {
  background-color: #a04703;
  border: solid #a04703;
}

.space {
  width: 3em;
  height: 3em;
  border: solid;
  border-color: white;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.piece.selected {
  height: 85%;
  width: 85%;
}

.pusher {
  border-radius: 10%;
}

.pawn {
  border-radius: 50%;
}

.anchor {
  width: 65%;
  height: 65%;
  border-radius: 10%;
  background-color: #A04703;
}


.game {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 10em auto 10em;
  grid-template-rows: auto;
  grid-template-areas:
       "topbar   topbar topbar"
       " info    info    info"
			 "player1  board  player2"
			 "player1  board  player2"
			 "player1  board  player2"
			 "history history history"
       ".        share  ."
			 "other    other  other";
}

.topbar {
  grid-area: topbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 8px;
  left: 16px;
  z-index: 2;
  padding: 8px;
}
.topbar a {
  text-decoration: none;
  color: black;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-item {
  display: flex;
}
.menu-item a {
  padding: 4px 16px;
  flex: 1;
}
.menu-item a[disabled] {
  cursor: default;
  opacity: 0.3;
}
.menu-item a >span:first-child {
  margin-right: 16px;
}

.board {
  grid-area: board;
  flex-direction: row;
  justify-self: center;
}

.resign {
  grid-area: other;
  flex-direction: row;
  justify-content: center;
  margin: 8px 0;
}
.resign .btn {
  background: lightgrey;
  color: white;
  font-weight: bold;
  font-family: monospace;
  border-radius: 3px;
  border: thin solid transparent;
  padding: 4px 8px;
  margin: 0 8px;
}
.resign .btn:hover {
  border: thin solid grey;
  background: lightgrey;
}

.share {
  grid-area: share;
  margin: 4px;
}

.share p {
  margin: 0;
}

.info {
  grid-area: info;
  height: 3em;
  margin-bottom: -3em;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.history {
  grid-area: history;
  justify-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;

}
.history button {
  background: #a04703;
  color: white;
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 0.1em;
  justify-content: center;
  border: none;
}

.history .turn-no {
  background: white;
  color: #a04703;
  padding: 0 0.25em;
}

.setup {}
.p1.setup {
  grid-area: player1;
  margin-top: 6em;
  justify-self: flex-end;
}
.p2.setup {
  grid-area: player2;
  margin-top: 9em;
  justify-self: flex-start;
}

.buttons {}
.p1.buttons {
  grid-area: player1;
  margin-top: 21em;
  justify-self: flex-end;
}
.p2.buttons {
  grid-area: player2;
  margin-top: 24em;
  justify-self: flex-start;
}

.undo,
.done {
  padding: 0.5em 1em;
  margin: 4px 8px;
  border: solid thin lightgrey;
  border-radius: 3px;
  box-shadow: 2px 2px lightgrey;;
}

.undo:hover,
.done:hover {
  border: solid thin grey;
}

.undo {
  background-color: white;
}

.p1 .done {
  background-color: #f7a509;
}
.p2 .done {
  background-color: #1646a5;
  color: white;
}

.undo[disabled],
.done[disabled] {
  box-shadow: none;
}

.turn-info {
  width: 6em;
  height: 9em;
}
.p1.turn-info {
  grid-area: player1;
  margin-top: 9em;
  justify-self: flex-end;
}
.p2.turn-info {
  grid-area: player2;
  margin-top: 12em;
  justify-self: flex-start;
}

.action-marker {
  height: 3em;
  padding: 0 1em;
  font-style: italic;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  color: white;
}
.action-marker.consumed {
  opacity: 0.3 !important;
}
.p1 .action-marker {
  background-color: #f7a509;
  margin-right: 0.5em;
}
.p2 .action-marker {
  background-color: #1646a5;
  margin-left: 0.5em;
}
.action-marker:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.action-marker:last-child {
  margin: 0;
  opacity: 0.8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.p1 .action-marker:last-child {
  border-top-right-radius: 3px;
}
.p2 .action-marker:last-child {
  border-top-left-radius: 3px;
}

.dev {
  grid-area: other;
  width: 14em;
  justify-self: center;
}


@media (max-width: 400px) {
  .game {
    font-size: 16px;

    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "topbar"
      " info  "
			" board "
			"actions"
			"history"
			" other "
  }

  .info {
    text-align: center;
    padding: 1em;
  }

  .setup {
    flex-direction: row;
    z-index: 2;
  }
  .p1.setup {
    grid-area: actions;
    margin: 0;
    margin-top: -3em;
  }
  .p2.setup {
    grid-area: actions;
    margin: 0;
    margin-top: -3em;
  }

  .buttons {
    flex-direction: row;
  }
  .p1.buttons {
    grid-area: actions;
    margin: 0;
  }
  .p2.buttons {
    grid-area: actions;
    margin: 0;
  }

  .turn-info {
    height: 3em;
    width: unset;
    flex-direction: row;
  }
  .p1.turn-info,
  .p2.turn-info {
    margin: 0;
    justify-self: center;
    grid-area: info;
  }
  .action-marker {
    height: unset;
  }
  .p1 .action-marker,
  .p2 .action-marker {
    margin: 0;
    margin-bottom: 0.5em;
    border-radius: 0;
  }
  .action-marker:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .p1 .action-marker:last-child,
  .p2 .action-marker:last-child {
    margin-bottom: 0;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0,0.1);
  z-index: 1;
}

.modal-fg {
  z-index: 2;
  opacity: 1;
  background-color: white;
  margin: 10em auto;
  padding: 1em;
  max-width: 20em;
}

.modal-fg .modal-header {
  flex-direction: row;
  justify-content: flex-end;
}

.modal-fg .close {
  cursor: pointer;
  transform: rotate(45deg);
  font-weight: bold;
}

.noscroll {
  overflow: hidden;
}
